:host {
  display: block;
  min-height: 100vh;
  background-color: #f7f7f7;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  width: 380px;
  max-width: 90vw;
  padding: 2rem;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.login-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1.8rem;
  margin-top: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.field-label {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.4rem;
}

.required {
  color: #d32f2f;
  margin-left: 4px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 8px;
}

input[matInput] {
  font-size: 1.15rem;
  padding: 0.15rem 0.4rem; 
}

.mat-input-element {
  padding: 0.25rem 0.5rem; 
  line-height: 1.5rem;  
}

.error-message {
    color: #d32f2f;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0rem;
}

.login-button {
  display: block;
  width: 40%;
  margin: 1.5rem auto 0;
  font-weight: 600;
  border-radius: 8px;
  background-color: #6a1b9a;
  color: #fff ;

  &:disabled {
    background-color: #f5f5f5 ;
    color: #9c9c9c ;
    border: 1px solid #d1d1d1;
    cursor: not-allowed;
  }
}

