
@use "@angular/material" as mat;

@include mat.core();

@import 'ngx-toastr/toastr';

// --- Define palettes for the "debt" theme ---
$debt-primary: mat.define-palette(mat.$deep-purple-palette);
$debt-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$debt-warn: mat.define-palette(mat.$red-palette);

// --- Create the theme object ---
$debt-theme: mat.define-light-theme(
  (
    color: (
      primary: $debt-primary,
      accent: $debt-accent,
      warn: $debt-warn,
    ),
  )
);

// --- Include Angular Material component themes ---
@include mat.all-component-themes($debt-theme);

/* Global font style */
html {
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: 0.85rem; 
}

body {
  font-size: 1.2rem; 
  line-height: 1.5; 
}

