@import 'ngx-toastr/toastr';

html, body {
  overflow: hidden;
}

.logout-dialog-panel.cdk-overlay-pane {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: block !important;
  width: auto !important;
  height: auto !important;
  pointer-events: all !important;
  margin: 0 !important;
}

.logout-dialog-panel .mat-dialog-container {
  border-radius: 12px !important;
  background: #fff !important;
  width: 100%;
  max-width: 320px !important;
  display: flex;
  flex-direction: column;
  padding: 0 !important;         
  gap: 1rem;                     
  box-sizing: border-box;
}


.close-btn {
  color: #888;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #000;
}

.logout-dialog-panel .mat-mdc-dialog-surface,
.logout-dialog-panel .mdc-dialog__surface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-width: 320px !important;
  text-align: center;
  position: relative;
  overflow: hidden !important;
  max-height: none !important;
}


.logout-dialog-panel .close-btn.mat-mdc-icon-button {
  position: absolute;
  top: -0.5rem;     
  right: -0.3rem;
  color: #888;
  transition: color 0.2s ease;
  z-index: 10;
}

.logout-dialog-panel .close-btn.mat-mdc-icon-button:hover {
  color: #000;
}

.logout-dialog-panel mat-dialog-content {
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.logout-dialog-panel mat-dialog-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.logout-dialog-panel .mat-mdc-raised-button.mat-warn {
  background-color: #6a1b9a !important;
  color: #fff !important;
}

.logout-dialog-panel .mat-mdc-raised-button.mat-warn:hover {
  background-color: #4a148c !important;
}

.logout-dialog-panel .mat-mdc-stroked-button.mat-primary {
  color: #6a1b9a !important;
}
